body{
    font-family:  Helvetica,Arial, sans-serif;
    font-size: 17px;
    color:white;
    line-height: 1.3;
    background-image: linear-gradient(to bottom right,  #3a1fe6, #5a4ea7);
    
/*   ---------------------------------------------nav----------------------------------------------- */    
    
}
.nav-portfolio{
    display: flex;
    justify-content: space-between;
}
.nav-portfolio h1 {
    width: 40%;
    
}
.nav-conx{
    width: 60%;
    float: right;

}
.nav-portfolio button{
    border-radius: 25px;
    float: right;
    width: 100px;
    height: 30px;
    border: 0;
    
}
.button-login{
    margin-left: 3%;
}


/* --------------------------------message-image_message-------------------------------------  */
.message-container{
    height: 600px;
}
.message-container-1{
    margin:  4% 30%;

}
.message-container-1 p{
    color: black;

}
.message-container-1-p1{
    border-radius: 15px;
    background-color: white;
    max-width:70%;
    min-width:200px; 
    padding:5px;
    min-height: 60px;



}
.message-container-1-p2{
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: white;
    max-width:70% ;
    border-radius: 15px;
    padding-left: 5px;
    height: 40px;

    


}
.message-container-2{
    margin:  0% 26%;

}
.message-container-2-p{
    display: flex;
        
}

.message-container-2-p img{
    width: 50px;
    height: 30px;
    margin-top: 3%; 
    border-radius: 15px;

}
.message-container-2-p-paragraphe{
    background-color: white;
    border-radius: 15px;

}
.message-container-2-p p {
    max-width: 430px;
    margin: 3% 0%;
    color: #281e65;
}
.message-container-2 h4 {
    font-size: 10px;
}
/*-----------------------------------buttonstart-continue--------------------- */
.buttonstart-continue{
    display: flex;
    justify-content: center;
}
.buttonstart-continue button{
    flex-basis: 20%;
    height: 60px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    border: 0;
    background-color: rgb(255, 30, 148);
}
/*-------------------------------------media-----------------------------------------*/
@media only screen and (min-width: 500px) and(max-width: 1050px) {
    .buttonstart-continue{
        width: 90vw;

    }
    .buttonstart-continue button{
        width: 15%;
        
    }
    
}
@media only screen and (max-width: 500px) {
    .message-container{
        height: 600px;
    }
    .message-container-1{
        margin:  4% 5%;
    
    }
    .message-container-1-p1{
        width:90px;
    
    
    
    }
    .nav-conx button{
        /*padding-top: 150px;*/
        margin-top: 30px;
    
    }
    .image1{
        width: 300px;
        height: 200px;
        
    
    }
    .message-container-2{
        margin-left: 5%;
    }
    .buttonstart-continue{
        width: 90vw;

    }
    .buttonstart-continue button{
        margin-left:3%;
        flex-basis: 30%;
    }
}




